<p id="notice"><%= notice %></p>

<h1>Listing Food Outlets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_outlets.each do |food_outlet| %>
      <tr>
        <td><%= link_to 'Show', food_outlet %></td>
        <td><%= link_to 'Edit', edit_food_outlet_path(food_outlet) %></td>
        <td><%= link_to 'Destroy', food_outlet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food outlet', new_food_outlet_path %>
