<p id="notice"><%= notice %></p>

<h1>Listing Food Courts</h1>

<table id= "foodCourtList">
  <thead>
    <tr>
      <th>Food Courts</th>
      <th>Distance from Union</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_courts.each do |food_court| %>
      <tr>
        <td><%= link_to 'Show', food_court %></td>
        <td><%= link_to 'Edit', edit_food_court_path(food_court) %></td>
        <td><%= link_to 'Destroy', food_court, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food court', new_food_court_path %>
